<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("layouts/header") %>
</head>
<body class="dashboard-page">
	<script>
	        var theme = $.cookie('protonTheme') || 'default';
	        $('body').removeClass (function (index, css) {
	            return (css.match (/\btheme-\S+/g) || []).join(' ');
	        });
	        if (theme !== 'default') $('body').addClass(theme);
        </script>

<main>
    <%- include ("layouts/nav") %>
</main>

<main>
    <%- include ("layouts/top") %>
    <%- include ("layouts/error") %>
    <%- include ("contents/categories_list") %>
</main>

<footer>
  <%- include ("layouts/footer") %>
</footer>

<script src="/admin/js/bootstrap.js"></script>
<script src="/admin/js/proton.js"></script>
</body>
</html>






	

	
