<!-- tables -->
<link rel="stylesheet" type="text/css" href="/admin/css/table-style.css" />
<link rel="stylesheet" type="text/css" href="/admin/css/basictable.css" />
<script type="text/javascript" src="/admin/js/jquery.basictable.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });

      $('#table-swap-axis').basictable({
        swapAxis: true
      });

      $('#table-force-off').basictable({
        forceResponsive: false
      });

      $('#table-no-resize').basictable({
        noResize: true
      });

      $('#table-two-axis').basictable();

      $('#table-max-height').basictable({
        tableWrapper: true
      });
    });
</script>
<!-- //tables -->
        <div class="main-grid">
        <div class="agile-grids">
        <div class="bs-component mb40">
          <a href="/admin/quiz/add" class="btn btn-category btn-block" >Add Quiz</a>
        </div>
				<!-- tables -->
			    <h3>Quiz Listing</h3>
				  <table id="table-two-axis" class="two-axis">
					<thead>
					  <tr>
						<th>Quiz Name</th>
						<th>Quiz Code </th>
						<th>Quiz Description</th>
						<th>Quiz Thumb</th>
            <th>Quiz Difficulty</th>
            <th>Add</th>
						<th>Edit</th>
						<th>Action</th>
					  </tr>
					</thead>
					<tbody>
            <% console.log(responce.length); %>
            <% for (var i = 0; i < responce.length; ++i) { %>
					  <tr>
						<td><a href="/admin/quiz?id=<%= responce[i]._id %>"><%= responce[i].name %><a/></td>
						<td><%= responce[i].code %></td>
						<td><%= responce[i].description %></td>
						<td>
              <% if(responce[i].image) { %>
              <img id="myImg" src="/admin/uploads/<%= responce[i].image %>" width="107" height="98">
              <% } %>
              </td>
            <td><%= responce[i].difficulty %></td>
            <td><a href="/admin/quiz/list/<%= responce[i]._id %>">View Quiz</td>
            <td><a href="/admin/quiz/edit/<%- responce[i]._id %>">Edit</td>
            <td><a href="/admin/quiz/delete/<%= responce[i]._id  %>">Delete</td>
					  </tr>
              <% } %>
					 </tbody>
				  </table>



				</div>
				<!-- //tables -->
        
			</div>
		
